<a href="https://colab.research.google.com/github/Bishre313/ict_p1/blob/main/case_study_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1 . import pandas,numpy

In [84]:
import numpy as np
import pandas as pd

#Q2 . Load dataset using pd.read_csv()

In [85]:
df = pd.read_csv("https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv")
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

#Q3 . Display: shape, head, column names, datatypes, missing value

In [86]:
df.shape

(1000, 12)

In [87]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [88]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [89]:
df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [90]:
df.isna()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False

#Q4 . Check and remove duplicates

In [91]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [92]:
df.duplicated().sum()

np.int64(0)

In [93]:
df.drop_duplicates(inplace=True)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

#Q5 .  Rename columns ("Title" > "Movie_Title")

In [94]:
df.rename(columns={'Title' : 'Movie_Title'})

,Rank,Movie_Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

#Q6 . Get unique genres

In [95]:
df.Genre.unique()

array(['Action,Adventure,Sci-Fi', 'Adventure,Mystery,Sci-Fi',
       'Horror,Thriller', 'Animation,Comedy,Family',
       'Action,Adventure,Fantasy', 'Comedy,Drama,Music', 'Comedy',
       'Action,Adventure,Biography', 'Adventure,Drama,Romance',
       'Adventure,Family,Fantasy', 'Biography,Drama,History',
       'Animation,Adventure,Comedy', 'Action,Comedy,Drama',
       'Action,Thriller', 'Biography,Drama', 'Drama,Mystery,Sci-Fi',
       'Adventure,Drama,Thriller', 'Drama', 'Crime,Drama,Horror',
       'Action,Adventure,Drama', 'Drama,Thriller',
       'Action,Adventure,Comedy', 'Action,Horror,Sci-Fi',
       'Adventure,Drama,Sci-Fi', 'Action,Adventure,Western',
       'Comedy,Drama', 'Horror', 'Adventure,Drama,Fantasy',
       'Action,Crime,Thriller', 'Action,Crime,Drama',
       'Adventure,Drama,History', 'Crime,Horror,Thriller',
       'Drama,Romance', 'Comedy,Drama,Romance', 'Horror,Mystery,Thriller',
       'Crime,Drama,Mystery', 'Drama,Romance,Thriller',
       'Drama,History,Thriller', 'Action,Drama,Thriller', 'Drama,History',
       'Action,Drama,Romance', 'Drama,Fantasy', 'Action,Sci-Fi',
       'Adventure,Drama,War', 'Action,Comedy,Fantasy',
       'Biography,Comedy,Crime', 'Crime,Drama', 'Comedy,Crime,Drama',
       'Action,Comedy,Crime', 'Animation,Drama,Fantasy',
       'Horror,Mystery,Sci-Fi', 'Drama,Mystery,Thriller',
       'Crime,Drama,Thriller', 'Biography,Crime,Drama',
       'Crime,Mystery,Thriller', 'Action,Horror,Thriller',
       'Romance,Sci-Fi', 'Action,Fantasy,War', 'Action,Biography,Drama',
       'Drama,Horror,Mystery', 'Adventure,Drama,Family',
       'Adventure,Comedy,Romance', 'Action', 'Adventure,Crime,Mystery',
       'Comedy,Family,Musical', 'Adventure,Comedy,Drama',
       'Drama,Horror,Thriller', 'Drama,Music', 'Mystery,Thriller',
       'Mystery,Thriller,Western', 'Comedy,Family',
       'Biography,Comedy,Drama', 'Drama,Western', 'Drama,Mystery,Romance',
       'Action,Drama,Mystery', 'Action,Adventure,Crime',
       'Adventure,Sci-Fi,Thriller', 'Action,Comedy,Mystery',
       'Thriller,War', 'Action,Adventure,Thriller',
       'Drama,Fantasy,Romance', 'Action,Drama,History',
       'Animation,Adventure,Family', 'Adventure,Horror',
       'Drama,Romance,Sci-Fi', 'Action,Adventure,Family', 'Action,Comedy',
       'Comedy,Romance', 'Horror,Mystery', 'Drama,Family,Fantasy',
       'Sci-Fi', 'Drama,War', 'Drama,Fantasy,Horror',
       'Crime,Drama,History', 'Horror,Sci-Fi,Thriller',
       'Action,Drama,Sport', 'Adventure,Biography,Drama',
       'Biography,Drama,Thriller', 'Action,Adventure,Mystery',
       'Drama,Horror', 'Comedy,Crime', 'Drama,Fantasy,War',
       'Action,Adventure,Romance', 'Action,Drama,War',
       'Drama,Musical,Romance', 'Drama,Sci-Fi,Thriller',
       'Action,Drama,Sci-Fi', 'Drama,Sci-Fi', 'Adventure,Fantasy',
       'Thriller', 'Biography,Drama,Romance', 'Action,Adventure',
       'Action,Fantasy', 'Action,Drama,Horror', 'Comedy,Music,Romance',
       'Biography,Drama,Sport', 'Action,Horror', 'Comedy,Horror,Thriller',
       'Crime,Drama,Music', 'Action,Sci-Fi,Thriller',
       'Drama,Horror,Sci-Fi', 'Drama,Sport', 'Comedy,Horror',
       'Comedy,Fantasy,Romance', 'Comedy,Fantasy', 'Comedy,Drama,Fantasy',
       'Adventure,Comedy,Horror', 'Comedy,Mystery',
       'Action,Mystery,Sci-Fi', 'Action,Crime,Fantasy',
       'Comedy,Fantasy,Horror', 'Animation,Action,Adventure',
       'Action,Comedy,Family', 'Comedy,Sci-Fi', 'Action,Biography,Crime',
       'Adventure,Comedy', 'Comedy,Music', 'Comedy,Drama,Horror',
       'Action,Horror,Romance', 'Action,Drama,Fantasy',
       'Action,Mystery,Thriller', 'Action,Adventure,Horror',
       'Animation,Family,Fantasy', 'Adventure,Horror,Mystery',
       'Action,Horror,Mystery', 'Adventure,Comedy,Family',
       'Action,Crime,Mystery', 'Comedy,Drama,Family',
       'Action,Crime,Sport', 'Mystery,Sci-Fi,Thriller', 'Sci-Fi,Thriller',
       'Adventure,Drama,Horror', 'Biography,History,Thriller',
       'Adventure,Comedy,Sci-Fi', 'Fantasy,Horror',
       'Action,Fantasy,Thriller', 'Comedy,Romance,Sport',
       'Animation,Action,Comedy', 'Drama,Fantasy,Thriller',
       'Action,Comedy,Romance', 'Action,Fantasy,Horror',
       'Mystery,Romance,Sci-Fi', 'Comedy,Drama,Thriller',
       'Comedy,Western', 'Drama,History,War', 'Fantasy,Horror,Thriller',
       'Drama,Horror,Musical', 'Drama,Family', 'Romance,Sci-Fi,Thriller',
       'Animation,Fantasy', 'Drama,Mystery,War', 'Action,Drama,Family',
       'Adventure,Drama,Western', 'Drama,Music,Romance',
       'Comedy,Romance,Western', 'Adventure,Drama', 'Drama,Thriller,War',
       'Drama,Fantasy,Mystery', 'Comedy,Crime,Thriller',
       'Animation,Comedy,Drama', 'Action,Comedy,Sci-Fi',
       'Drama,Romance,War', 'Adventure,Fantasy,Mystery',
       'Mystery,Romance,Thriller', 'Biography,Drama,Mystery',
       'Animation,Drama,Romance', 'Comedy,Horror,Romance',
       'Action,Thriller,War', 'Action,Comedy,Horror',
       'Action,Crime,Sci-Fi', 'Crime,Thriller', 'Comedy,Horror,Sci-Fi',
       'Crime,Drama,Fantasy', 'Drama,Fantasy,Music',
       'Action,Comedy,Sport', 'Fantasy,Mystery,Thriller', 'Adventure',
       'Adventure,Biography', 'Adventure,Biography,Crime',
       'Comedy,Drama,Musical', 'Comedy,Family,Romance',
       'Biography,Drama,Family', 'Drama,Fantasy,Musical',
       'Adventure,Family', 'Adventure,Comedy,Fantasy',
       'Drama,Family,Music', 'Comedy,Family,Fantasy'], dtype=object)

#Q7 . Extract number of genres per movie

In [96]:
df['Number_Genres'] =df['Genre'].str.split(',').str.len()
df[['Title','Genre','Number_Genres']]

                       Title                     Genre  Number_Genres
0    Guardians of the Galaxy   Action,Adventure,Sci-Fi              3
1                 Prometheus  Adventure,Mystery,Sci-Fi              3
2                      Split           Horror,Thriller              2
3                       Sing   Animation,Comedy,Family              3
4              Suicide Squad  Action,Adventure,Fantasy              3
..                       ...                       ...            ...
995     Secret in Their Eyes       Crime,Drama,Mystery              3
996          Hostel: Part II                    Horror              1
997   Step Up 2: The Streets       Drama,Music,Romance              3
998             Search Party          Adventure,Comedy              2
999               Nine Lives     Comedy,Family,Fantasy              3

[1000 rows x 3 columns]

#Q8 . Handle missing values in 'Revenue (Millions)' and 'Metascore

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
 12  Number_Genres       1000 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [98]:
median_value1 = df['Revenue (Millions)'].median()

In [99]:
median_value2 = df['Metascore'].median()

In [100]:
#replacing null value with median of respective column
df['Revenue (Millions)'].fillna(median_value1,inplace=True)
df['Metascore'].fillna(median_value2,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  1000 non-null   float64
 11  Metascore           1000 non-null   float64
 12  Number_Genres       1000 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

/tmp/ipython-input-3695521958.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Revenue (Millions)'].fillna(median_value1,inplace=True)
/tmp/ipython-input-3695521958.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Metascore'].fillna(median_value2,inplace=True)

#Q9 . Top 5 movies by Rating

In [101]:
top_5_movies = df.sort_values(by='Rating',ascending=False).head(5)
top_5_movies[['Title','Rating']]

                Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

#Q10 .  Movies with highest/lowest revenue

In [102]:
Highest_revenue = df.sort_values(by='Revenue (Millions)', ascending=False).head(1)
Lowest_revenue = df.sort_values(by='Revenue (Millions)', ascending=True).head(1)

print(" Highest Revenue Movie:\n")
print(Highest_revenue[['Title', 'Revenue (Millions)']].to_string(index=False))

print("\n Lowest Revenue Movie:\n")
print(Lowest_revenue[['Title', 'Revenue (Millions)']].to_string(index=False))

 Highest Revenue Movie:

                                     Title  Revenue (Millions)
Star Wars: Episode VII - The Force Awakens              936.63

 Lowest Revenue Movie:

           Title  Revenue (Millions)
A Kind of Murder                 0.0

#Q11 . Avg. rating by Director

In [103]:
Avg_rating_by_director = df.groupby('Director')['Rating'].mean().sort_values(ascending=False)
print("\n Average Rating by Director:\n")
print(Avg_rating_by_director.to_string())

 Average Rating by Director:

Director
Nitesh Tiwari                       8.800000
Christopher Nolan                   8.680000
Olivier Nakache                     8.600000
Makoto Shinkai                      8.600000
Florian Henckel von Donnersmarck    8.500000
Aamir Khan                          8.500000
Naoko Yamada                        8.400000
Damien Chazelle                     8.400000
S.S. Rajamouli                      8.300000
Thomas Vinterberg                   8.300000
Rajkumar Hirani                     8.300000
Amber Tamblyn                       8.300000
Lee Unkrich                         8.300000
Pete Docter                         8.250000
Lenny Abrahamson                    8.200000
Juan JosÃ© Campanella                8.200000
Byron Howard                        8.100000
DamiÃ¡n Szifron                      8.100000
Chan-wook Park                      8.100000
Tom McCarthy                        8.100000
Garth Davis                         8.100000
Dean DeBlois                        8.000000
Mel Gibson                          8.000000
Stephen Chbosky                     8.000000
Asghar Farhadi                      8.000000
Spike Jonze                         8.000000
Tim Miller                          8.000000
Martin Scorsese                     7.920000
Dan Gilroy                          7.900000
Oriol Paulo                         7.900000
Travis Knight                       7.900000
Quentin Tarantino                   7.900000
Matt Ross                           7.900000
Kenneth Lonergan                    7.900000
Ken Loach                           7.900000
Taika Waititi                       7.900000
Jaco Van Dormael                    7.900000
Wes Anderson                        7.900000
Anthony Russo                       7.850000
Gabriele Muccino                    7.850000
Alfonso CuarÃ³n                      7.850000
David Fincher                       7.820000
Richard Curtis                      7.800000
Rich Moore                          7.800000
Nathan Greno                        7.800000
Abdellatif Kechiche                 7.800000
Alfonso Gomez-Rejon                 7.800000
Theodore Melfi                      7.800000
Claude Barras                       7.800000
Niels Arden Oplev                   7.800000
Gavin O'Connor                      7.800000
Josh Boone                          7.800000
James Cameron                       7.800000
Aisling Walsh                       7.800000
Giuseppe Tornatore                  7.800000
Jonathan Dayton                     7.800000
Don Hall                            7.800000
Gauri Shinde                        7.800000
Mark Herman                         7.800000
Alejandro GonzÃ¡lez IÃ±Ã¡rritu         7.766667
Denis Villeneuve                    7.760000
Joss Whedon                         7.750000
Matthew Vaughn                      7.725000
David Mackenzie                     7.700000
David Leveaux                       7.700000
David Cronenberg                    7.700000
Paolo Genovese                      7.700000
Clint Eastwood                      7.700000
Bruce Beresford                     7.700000
Henry Selick                        7.700000
James Marsh                         7.700000
Alex Garland                        7.700000
Hannes Holm                         7.700000
John Carney                         7.700000
F. Gary Gray                        7.650000
Steve McQueen                       7.633333
Michael Dudok de Wit                7.600000
Maren Ade                           7.600000
Bennett Miller                      7.600000
Pedro AlmodÃ³var                     7.600000
Ryan Coogler                        7.600000
Jemaine Clement                     7.600000
Mark Osborne                        7.600000
J.J. Abrams                         7.580000
Martin McDonagh                     7.550000
Pierre Coffin                       7.550000
Xavier Dolan                        7.550000
David Lynch                         7.550000
Morten Tyldum                       7.550000
J.A. Bayona                         7.550000
Tom Hooper                          7.533333
Paul Greengrass                     7.533333
FranÃ§ois Ozon                       7.500000
Jim Jarmusch                        7.500000
Lynne Ramsay                        7.500000
Michael Spierig                     7.500000
Julia Ducournau                     7.500000
Kathryn Bigelow                     7.500000
Kirsten Sheridan                    7.500000
Hong-jin Na                         7.500000
Sang-ho Yeon                        7.500000
Ava DuVernay                        7.500000
Andrew Dominik                      7.500000
Barry Jenkins                       7.500000
Chris Buck                          7.500000
Robin Swicord                       7.500000
Cristian Mungiu                     7.500000
Tom Ford                            7.500000
Peter Jackson                       7.475000
Andrew Stanton                      7.466667
John Lee Hancock                    7.466667
Duncan Jones                        7.466667
Edgar Wright                        7.466667
Jason Reitman                       7.450000
Richard Linklater                   7.450000
Todd Phillips                       7.450000
David Yates                         7.433333
Jon Favreau                         7.425000
Guy Ritchie                         7.425000
Danny Boyle                         7.420000
Kelly Fremon Craig                  7.400000
David Dobkin                        7.400000
Mira Nair                           7.400000
Dexter Fletcher                     7.400000
John Butler                         7.400000
Roger Spottiswoode                  7.400000
Cary Joji Fukunaga                  7.400000
Rian Johnson                        7.400000
Lasse HallstrÃ¶m                     7.400000
Julie Taymor                        7.400000
Hugo GÃ©lin                          7.400000
Mike Mills                          7.400000
Ron Clements                        7.400000
Todor Chapkanov                     7.400000
Thea Sharrock                       7.400000
David O. Russell                    7.375000
Jean-Marc VallÃ©e                    7.366667
Phil Lord                           7.366667
Robert Rodriguez                    7.350000
Ben Affleck                         7.350000
Ethan Coen                          7.333333
Jonathan Levine                     7.300000
Shane Black                         7.300000
George Miller                       7.300000
Mike Cahill                         7.300000
John Madden                         7.300000
William Oldroyd                     7.300000
Alexander Payne                     7.300000
Dan Scanlon                         7.300000
Paul Thomas Anderson                7.300000
Derek Cianfrance                    7.300000
Denzel Washington                   7.300000
Jorge R. GutiÃ©rrez                  7.300000
Werner Herzog                       7.300000
Rick Famuyiwa                       7.300000
Richie Smyth                        7.300000
Bruce A. Evans                      7.300000
Paolo Sorrentino                    7.300000
Sam Mendes                          7.300000
Simon Curtis                        7.300000
Tom McGrath                         7.300000
Alexandros Avranas                  7.300000
Tate Taylor                         7.300000
Brad Bird                           7.300000
Matt Reeves                         7.266667
Brian Helgeland                     7.250000
Lee Daniels                         7.250000
Neil Burger                         7.233333
James Wan                           7.225000
Terence Davies                      7.200000
Angelina Jolie                      7.200000
Allen Coulter                       7.200000
Sean Ellis                          7.200000
Chad Stahelski                      7.200000
Christopher McQuarrie               7.200000
Ruben Fleischer                     7.200000
Todd Haynes                         7.200000
Dan Trachtenberg                    7.200000
Christophe Lourdelet                7.200000
Paul Verhoeven                      7.200000
Alessandro Carloni                  7.200000
Gregory Hoblit                      7.200000
James Ward Byrkit                   7.200000
Jee-woon Kim                        7.200000
Mark Andrews                        7.200000
Debra Granik                        7.200000
Matt Brown                          7.200000
Lee Toland Krieger                  7.200000
Roman Polanski                      7.200000
Jordan Vogt-Roberts                 7.200000
Gabor Csupo                         7.200000
Frank Darabont                      7.200000
Guillermo del Toro                  7.200000
Yorgos Lanthimos                    7.200000
Scott Derrickson                    7.200000
David Ayer                          7.166667
Neill Blomkamp                      7.166667
Gareth Edwards                      7.150000
Marc Webb                           7.133333
James Gunn                          7.133333
Steven Knight                       7.100000
Tomas Alfredson                     7.100000
Ang Lee                             7.100000
Brad Furman                         7.100000
Baltasar KormÃ¡kur                   7.100000
S. Craig Zahler                     7.100000
MichaÃ«l R. Roskam                   7.100000
Dan Kwan                            7.100000
Peter Landesman                     7.100000
Patrick Read Johnson                7.100000
Pascal Laugier                      7.100000
Nancy Meyers                        7.100000
James Gray                          7.100000
James Ponsoldt                      7.100000
Joel Edgerton                       7.100000
Jon S. Baird                        7.100000
Jocelyn Moorhouse                   7.100000
Florian Gallenberger                7.100000
Martin Koolhoven                    7.100000
Kevin Lima                          7.100000
Joseph Cedar                        7.100000
Mia Hansen-LÃ¸ve                     7.100000
Bryan Singer                        7.066667
Gary Ross                           7.050000
Antoine Fuqua                       7.040000
Zack Snyder                         7.040000
Nicolas Winding Refn                7.033333
Tom Tykwer                          7.033333
Darren Aronofsky                    7.033333
Francis Lawrence                    7.025000
Woody Allen                         7.020000
Patricia Riggen                     7.000000
Andrea Arnold                       7.000000
Antonio Campos                      7.000000
Robert Stromberg                    7.000000
Bong Joon Ho                        7.000000
Colin Trevorrow                     7.000000
Doug Liman                          7.000000
Lone Scherfig                       7.000000
David Schwimmer                     7.000000
Drew Goddard                        7.000000
Juan Carlos Fresnadillo             7.000000
Jeremy Saulnier                     7.000000
Adam McKay                          7.000000
Robert Zemeckis                     6.975000
John Hillcoat                       6.966667
Baz Luhrmann                        6.950000
Ron Howard                          6.950000
Sylvester Stallone                  6.933333
Edward Zwick                        6.933333
Richard LaGravenese                 6.933333
Simon Aboud                         6.900000
James Lapine                        6.900000
James Schamus                       6.900000
Stephen Frears                      6.900000
Jon Kasdan                          6.900000
Jeff Nichols                        6.900000
Paul McGuigan                       6.900000
Oliver Stone                        6.900000
Mark Williams                       6.900000
Albert Hughes                       6.900000
Tony Scott                          6.900000
Alex Ranarivelo                     6.900000
David Robert Mitchell               6.900000
Kyle Patrick Alvarez                6.900000
Joseph Kosinski                     6.900000
Saul Dibb                           6.900000
Carlos Saldanha                     6.900000
Chris Evans                         6.900000
Steven Spielberg                    6.900000
Joe Johnston                        6.900000
Seth Gordon                         6.900000
Hideaki Anno                        6.900000
Gavin Hood                          6.900000
Glenn Ficarra                       6.866667
Peter Berg                          6.860000
Gore Verbinski                      6.850000
Scott Cooper                        6.850000
Lars von Trier                      6.850000
Ridley Scott                        6.850000
John Crowley                        6.850000
Fede Alvarez                        6.850000
Justin Lin                          6.820000
John Erick Dowdle                   6.800000
Ben Younger                         6.800000
Terry Gilliam                       6.800000
Jim Sheridan                        6.800000
Jennifer Kent                       6.800000
Joe Carnahan                        6.800000
Boaz Yakin                          6.800000
Robert Eggers                       6.800000
AndrÃ© Ã˜vredal                       6.800000
Eric Summer                         6.800000
Rupert Wyatt                        6.800000
Pierre Morel                        6.800000
Philippe Falardeau                  6.800000
Christian Alvart                    6.800000
David Frankel                       6.800000
Mike Birbiglia                      6.800000
R.J. Cutler                         6.800000
Tarsem Singh                        6.800000
Greg Mottola                        6.800000
Craig Gillespie                     6.800000
Dominique Abel                      6.800000
David Lowery                        6.800000
Marc Forster                        6.800000
Martin Campbell                     6.800000
Amma Asante                         6.800000
Pablo LarraÃ­n                       6.800000
Jaume Collet-Serra                  6.766667
George Tillman Jr.                  6.766667
Len Wiseman                         6.750000
Alan Taylor                         6.750000
Mikael HÃ¥fstrÃ¶m                     6.750000
Joe Wright                          6.750000
Kenneth Branagh                     6.733333
Stephen Gaghan                      6.700000
James Mangold                       6.700000
Genndy Tartakovsky                  6.700000
Jon Hurwitz                         6.700000
Simon Stone                         6.700000
FranÃ§ois Simard                     6.700000
Justin Chadwick                     6.700000
Colm McCarthy                       6.700000
JÃ©rÃ´me Salle                        6.700000
Michael Showalter                   6.700000
Tim Burton                          6.700000
Ilya Naishuller                     6.700000
Tim Johnson                         6.700000
Ben Young                           6.700000
Gregory Wilson                      6.700000
Sharon Maguire                      6.700000
Akiva Schaffer                      6.700000
Tony Gilroy                         6.700000
Michael Hoffman                     6.700000
Nima Nourizadeh                     6.700000
Spike Lee                           6.700000
Christian Ditter                    6.650000
Robert Luketic                      6.650000
Rawson Marshall Thurber             6.650000
John Lasseter                       6.650000
Patrick Tatopoulos                  6.600000
Doug Ellin                          6.600000
Mike Judge                          6.600000
Mike Newell                         6.600000
Christophe Gans                     6.600000
Christopher Smith                   6.600000
Ross Katz                           6.600000
Joseph Gordon-Levitt                6.600000
Jason Moore                         6.600000
Asger Leth                          6.600000
Jeff Wadlow                         6.600000
Simon West                          6.600000
Jamal Hill                          6.600000
Anne Fletcher                       6.600000
John Wells                          6.600000
Mick Jackson                        6.600000
Evan Goldberg                       6.600000
Chris Renaud                        6.600000
Greg Berlanti                       6.600000
Jonathan Jakubowicz                 6.600000
Nicholas Stoller                    6.550000
Wes Ball                            6.550000
Peyton Reed                         6.550000
Michael Dowse                       6.550000
Steven Soderbergh                   6.533333
Shawn Levy                          6.533333
Louis Leterrier                     6.525000
Daniel Espinosa                     6.500000
Luke Greenfield                     6.500000
Leslye Headland                     6.500000
Judd Apatow                         6.500000
John Krasinski                      6.500000
Scott Waugh                         6.500000
Jim Mickle                          6.500000
Jodie Foster                        6.500000
Scott Frank                         6.500000
Ari Sandel                          6.500000
Adam Leon                           6.500000
Michael Grandage                    6.500000
Whit Stillman                       6.500000
Michael Haneke                      6.500000
David Bowers                        6.500000
Daniel Ragussis                     6.500000
Walt Dohrn                          6.500000
Frank Miller                        6.500000
Michael Bay                         6.483333
Seth MacFarlane                     6.466667
Phillip Noyce                       6.450000
Paul Feig                           6.450000
David Twohy                         6.400000
Afonso Poyart                       6.400000
Pete Travis                         6.400000
Kyle Balda                          6.400000
Phyllida Lloyd                      6.400000
Nacho Vigalondo                     6.400000
Jim Field Smith                     6.400000
So Yong Kim                         6.400000
Jean-FranÃ§ois Richet                6.400000
Sean Foley                          6.400000
Sofia Coppola                       6.400000
Hope Dickson Leach                  6.400000
Andy Fickman                        6.400000
Matteo Garrone                      6.400000
MÃ¥ns MÃ¥rlind                        6.400000
David F. Sandberg                   6.400000
NimrÃ³d Antal                        6.400000
Luca Guadagnino                     6.400000
Ken Kwapis                          6.400000
Corey Asraf                         6.400000
Larry Charles                       6.400000
Neil Marshall                       6.400000
Robert Schwentke                    6.366667
McG                                 6.366667
Rob Marshall                        6.350000
Ben Wheatley                        6.350000
Luc Besson                          6.350000
Brett Ratner                        6.350000
Ben Stiller                         6.333333
Will Gluck                          6.333333
Mike Flanagan                       6.325000
Andrew Niccol                       6.300000
Justin Kurzel                       6.300000
Adam Shankman                       6.300000
John Hamburg                        6.300000
Ariel Vromen                        6.300000
James Watkins                       6.300000
Stephen Fingleton                   6.300000
Greg Tiernan                        6.300000
Steven R. Monroe                    6.300000
Shana Feste                         6.300000
Greg McLean                         6.300000
Jake Schreier                       6.300000
Peter Atencio                       6.300000
Clay Kaytis                         6.300000
Christopher Landon                  6.300000
Erik Van Looy                       6.300000
Jonathan Glazer                     6.300000
Rob Letterman                       6.300000
Gary Shore                          6.300000
Ricardo de Montreuil                6.300000
Nathan Morlando                     6.300000

#Q12 . Movies per year

In [104]:
movies_per_year = df['Year'].value_counts()
movies_per_year

Year
2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: count, dtype: int64

#Q13 . Movies with rating > 8 & revenue > 100M

In [114]:
condition = df[(df['Rating'] > 8) & (df['Revenue (Millions)'] > 100)]
condition[['Title','Rating','Revenue (Millions)']]

                                            Title  Rating  Revenue (Millions)
0                         Guardians of the Galaxy     8.1              333.13
6                                      La La Land     8.3              151.06
36                                   Interstellar     8.6              187.99
50     Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                                The Dark Knight     9.0              533.32
67                             Mad Max: Fury Road     8.1              153.63
74                                       Zootopia     8.1              341.26
76                                   The Avengers     8.1              623.28
77                           Inglourious Basterds     8.3              120.52
80                                      Inception     8.8              292.57
82                        The Wolf of Wall Street     8.2              116.87
83                                      Gone Girl     8.1              167.74
92                                       The Help     8.1              169.71
99                                   The Departed     8.5              132.37
114  Harry Potter and the Deathly Hallows: Part 2     8.1              380.96
124                         The Dark Knight Rises     8.5              448.13
138                                Shutter Island     8.1              127.97
144                              Django Unchained     8.4              162.80
241                                    Inside Out     8.2              356.45
427                          The Bourne Ultimatum     8.1              227.14
499                                            Up     8.3              292.98
634                                        WALLÂ·E     8.4              223.81
645                                   Gran Torino     8.2              148.09
688                                   Toy Story 3     8.3              414.98
772                      How to Train Your Dragon     8.1              217.39

#Q14 .  Group by Director: avg Rating, Revenue

In [106]:
director_group = df.groupby('Director')[['Rating','Revenue (Millions)']].mean()
director_group

                     Rating  Revenue (Millions)
Director
Aamir Khan             8.50              1.2000
Abdellatif Kechiche    7.80              2.2000
Adam Leon              6.50             47.9850
Adam McKay             7.00            109.5350
Adam Shankman          6.30             78.6650
...                     ...                 ...
Xavier Dolan           7.55             25.7375
Yimou Zhang            6.10             45.1300
Yorgos Lanthimos       7.20              4.4050
Zack Snyder            7.04            195.1480
Zackary Adler          5.10              6.5300

[644 rows x 2 columns]

#Q15 . Group by Year: count, avg Rating

In [107]:
year_group = df.groupby('Year').agg({'Title':'count','Rating':'mean'})
year_group

      Title    Rating
Year
2006     44  7.125000
2007     53  7.133962
2008     52  6.784615
2009     51  6.960784
2010     60  6.826667
2011     63  6.838095
2012     64  6.925000
2013     91  6.812088
2014     98  6.837755
2015    127  6.602362
2016    297  6.436700

#Q16 . Create a new column Profitability:
a) Revenue divided by Duration
b) Find top 10 most profitable movies

In [117]:
df['Profitability'] = df['Revenue (Millions)'] / df['Runtime (Minutes)']
df[['Title','Revenue (Millions)','Runtime (Minutes)','Profitability']].head()

,Title,Revenue (Millions),Runtime (Minutes),Profitability
0,Guardians of the Galaxy,333.13,121,2.753140
1,Prometheus,126.46,124,1.019839
2,Split,138.12,117,1.180513
3,Sing,270.32,108,2.502963
4,Suicide Squad,325.02,123,2.642439

In [119]:
top10_profit = df.sort_values(by='Profitability', ascending=False).head(10)
top10_profit[['Title','Revenue (Millions)','Runtime (Minutes)','Profitability']]

,Title,Revenue (Millions),Runtime (Minutes),Profitability
50,Star Wars: Episode VII - The Force Awakens,936.63,136,6.886985
85,Jurassic World,652.18,124,5.259516
119,Finding Dory,486.29,97,5.013299
87,Avatar,760.51,162,4.694506
76,The Avengers,623.28,143,4.358601
15,The Secret Life of Pets,368.31,87,4.233448
688,Toy Story 3,414.98,103,4.028932
12,Rogue One,532.17,133,4.001278
174,Frozen,400.74,102,3.928824
797,Despicable Me 2,368.05,98,3.755612

#Q17 . 17) Create a column that categorizes movies by rating:
a) Rating < 6: Poor
b) 6 â‰¤ Rating < 7.5: Average
c) Rating â‰¥ 7.5: Excellent

In [110]:
df.loc[df['Rating'] < 6, 'Category'] = 'Poor'
print(df[df['Rating'] < 6][['Title', 'Rating', 'Category']])

                                Title  Rating Category
24       Independence Day: Resurgence     5.3     Poor
27                         Dead Awake     4.7     Poor
29                   Assassin's Creed     5.9     Poor
34   Resident Evil: The Final Chapter     5.6     Poor
42            Don't Fuck in the Woods     2.7     Poor
..                                ...     ...      ...
986               Final Destination 5     5.9     Poor
993          Resident Evil: Afterlife     5.9     Poor
996                   Hostel: Part II     5.5     Poor
998                      Search Party     5.6     Poor
999                        Nine Lives     5.3     Poor

[184 rows x 3 columns]

In [111]:
average_movies = df[(df['Rating'] >= 6) & (df['Rating'] < 7.5)][['Title', 'Rating']]
average_movies['Category'] = 'Average'

print(average_movies)

                              Title  Rating Category
1                        Prometheus     7.0  Average
2                             Split     7.3  Average
3                              Sing     7.2  Average
4                     Suicide Squad     6.2  Average
5                    The Great Wall     6.1  Average
..                              ...     ...      ...
990  Underworld: Rise of the Lycans     6.6  Average
992            Take Me Home Tonight     6.3  Average
994                       Project X     6.7  Average
995            Secret in Their Eyes     6.2  Average
997          Step Up 2: The Streets     6.2  Average

[586 rows x 3 columns]

In [112]:
excellent_movies = df[df['Rating'] >= 7.5][['Title', 'Rating']]
excellent_movies['Category'] = 'Excellent'

print(excellent_movies)

                                       Title  Rating   Category
0                    Guardians of the Galaxy     8.1  Excellent
6                                 La La Land     8.3  Excellent
10   Fantastic Beasts and Where to Find Them     7.5  Excellent
11                            Hidden Figures     7.8  Excellent
12                                 Rogue One     7.9  Excellent
..                                       ...     ...        ...
957                             End of Watch     7.7  Excellent
959                      Lucky Number Slevin     7.8  Excellent
979                       The Skin I Live In     7.6  Excellent
989                                    Selma     7.5  Excellent
991                         Taare Zameen Par     8.5  Excellent

[230 rows x 3 columns]

#Q18 .  Create a custom function to score movies based on:
i)
Apply row['Rating'] * 10 + row['Revenue (Millions)'] as High score
Apply a function to dataset to assign the score

In [121]:
def score(row):
    return row['Rating'] * 10 + row['Revenue (Millions)']

df['High_Score'] = df.apply(score, axis=1)
df[['Title','High_Score']]

                       Title  High_Score
0    Guardians of the Galaxy     414.130
1                 Prometheus     196.460
2                      Split     211.120
3                       Sing     342.320
4              Suicide Squad     387.020
..                       ...         ...
995     Secret in Their Eyes     109.985
996          Hostel: Part II      72.540
997   Step Up 2: The Streets     120.010
998             Search Party     103.985
999               Nine Lives      72.640

[1000 rows x 2 columns]