<a href="https://colab.research.google.com/github/Bishre313/ict_p1/blob/main/python_practice_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRACTICE PROBLEMS-01

 1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
radius = float(input("Enter the radius: "))
area = 3.14 * radius * radius
print("Area of Circle is", area)

Enter the radius: 475
Area of Circle is 708462.5

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name: ")
roll = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll)
print("Mark:", mark)

Enter the name: abishek
Enter the roll number: 48
Enter the mark: 48
Name: abishek
Roll No: 48
Mark: 48

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
numbers = [12, 3, 47, 10]
largest = max(numbers)
print(largest, "is the largest number.")

47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
previous = 0

for current in range(1, 11):
    sum = current + previous
    print("Current Number", current, "Previous Number", previous, "Sum:", sum)
    previous = current

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
numbers = [10, 20, 33, 46, 55]

for num in numbers:
    if num % 5 == 0:
        print(num)

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
num = int(input("Enter the number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter the number: 7
7 is a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
numbers = [10, 40, 30, 70]

reverse_list = []
for i in range(len(numbers)-1, -1, -1):
    reverse_list.append(numbers[i])

print(reverse_list)

[70, 30, 40, 10]

8. Write a Python program to print the following pattern.
   *
   **
   ***
   ****

In [ ]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
a, b, c = 34, 12, 7
print(max(a, b, c))

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
# Upper part
for i in range(1, 6):
    print("*" * i)

# Lower part
for i in range(4, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*

#PRACTICE PROBLEMS-02

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
string = input("Enter a string value: ")
count = {}

for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

for k, v in count.items():
    print(k, "=", v)

Enter a string value: 4784
4 = 2
7 = 1
8 = 1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(34, 12, 7))

34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):
    return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

print(exponent(base, exp))

Enter the base: 34
Enter the exponent: 2
1156

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def sum_of_cubes(n):
    total = 0
    for i in range(1, n):
        total += i**3
    return total

print(sum_of_cubes(4))

36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
numbers = [2, 3, 4, 2, 5, 2]

most_frequent = max(numbers, key=numbers.count)
print(most_frequent)

2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
numbers = [2, 1, 3, 1]
total = 0

for n in numbers:
    total += n * n

print(total)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(i, "- even")
    else:
        print(i, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
f = float(input("Temperature in Fahrenheit: "))
c = (f - 32) * 5 / 9
print("Temperature in Celsius =", c)

Temperature in Fahrenheit: 22
Temperature in Celsius = -5.555555555555555

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

print(factorial(3))

6

#PRACTICE PROBLEMS-03

1. Write a Python program that takes an integer as input and calculates the
sum of its digits

In [ ]:
num = int(input("Enter a number: "))
total = 0

for digit in str(num):
    total += int(digit)

print("Sum of digits =", total)

Enter a number: 46
Sum of digits = 10

2. Create a Python program to calculate the factorial of a given number using
a function.

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

num = int(input("Enter a number: "))
print("Factorial =", factorial(num))

Enter a number: 73
Factorial = 4470115461512684340891257138125051110076800700282905015819080092370422104067183317016903680000000000000000

3. Develop a Python program that checks whether a given word or phrase is a
palindrome.

In [ ]:
text = input("Enter a word or phrase: ").replace(" ", "").lower()

if text == text[::-1]:
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

Enter a word or phrase: X=Y
It is not a palindrome.

4. Create a Python program that takes a sentence as input and counts the
number of vowels and consonants.

In [ ]:
sentence = input("Enter a sentence: ").lower()

vowels = "aeiou"
v_count = 0
c_count = 0

for ch in sentence:
    if ch.isalpha():
        if ch in vowels:
            v_count += 1
        else:
            c_count += 1

print("Vowels =", v_count)
print("Consonants =", c_count)

Enter a sentence: it is a elephant
Vowels = 6
Consonants = 7

5. Develop a Python program that takes two lists as input and returns a new
list containing the common elements between them.

In [ ]:
list1 = [int(x) for x in input("Enter list 1 elements: ").split()]
list2 = [int(x) for x in input("Enter list 2 elements: ").split()]

common = []

for item in list1:
    if item in list2 and item not in common:
        common.append(item)

print("Common elements:", common)

Enter list 1 elements: 2 3 5 9 3 7
Enter list 2 elements: 3 4 2 5 6 2
Common elements: [2, 3, 5]

6. Write a Python program that takes a string as input and counts the
frequency of each character in the string

In [ ]:
text = input("Enter a string: ")
freq = {}

for ch in text:
    freq[ch] = freq.get(ch, 0) + 1

print(freq)

Enter a string: abdu
{'a': 1, 'b': 1, 'd': 1, 'u': 1}

7. Develop a Python program that checks if a given year is a leap year.

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2020
2020 is a leap year.

8. Write a Python program that checks if a given number, is a prime number

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 34
34 is not a prime number.

9. Write a Python program to generate the Fibonacci sequence up to a
specified number of terms.

In [ ]:
n = int(input("Enter number of terms: "))

a, b = 0, 1

for i in range(n):
    print(a)
    a, b = b, a + b

Enter number of terms: 12
0
1
1
2
3
5
8
13
21
34
55
89

10. Write a python program to find the roots of a quadratic equation

In [ ]:
import math

a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b*b - 4*a*c   # discriminant

if d > 0:
    r1 = (-b + math.sqrt(d)) / (2*a)
    r2 = (-b - math.sqrt(d)) / (2*a)
    print("Roots are real:", r1, "and", r2)

elif d == 0:
    r = -b / (2*a)
    print("Root is:", r)

else:
    real = -b / (2*a)
    imag = math.sqrt(-d) / (2*a)
    print("Complex roots:", real, "+", imag, "i  and ", real, "-", imag, "i")

Enter a: 23
Enter b: 234
Enter c: 45
Roots are real: -0.19608697584712825 and -9.977826067631133